.container {
    background-color: #F5C0C0;
    padding: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0 auto;
    border-bottom: 1px solid #f2f2f2;
    max-height: 90px;
}

    .navbar {
        margin-left: auto;
        margin-bottom: 15px;
    }

        .navbar .links {
            margin-left: auto;
        }

        .navbar a {
            padding-left: 2.5ch;
            text-decoration: none;
            color: black;
            font-size: 21pt;
            font-weight: bold;
        }

        .navbar a:hover {
            color: #E91E63;
        }

        .navbar ul {
            margin-top: 10px;
            display: flex;
            flex-direction: row;
            flex-direction: wrap;
            flex-wrap: wrap;
            list-style: none;
        }

    .menu {
        display: flex;
        flex-direction: row;
        flex-direction: wrap;
        flex-wrap: wrap;
        margin-left: auto;
    }

        .menu > div {
            padding-left: 20px;
            color: #767676;
        }

        .menu > div > * {
            stroke: #000000;
            stroke-width: 10px;
        }

        .menu >*:hover {
            transition-property: transform;
            transform: scale(1.2);
            transition-duration: 0.5s;
            transition-delay: 50ms;
            animation-timing-function: linear;
        }

        .cart-icon {
            position: relative;
        }

        .cart-icon span {
            background: crimson;
            border-radius: 50%;
            color: white;
            position: absolute;
            top: -8px;
            left: 44px;
            padding: 3px 5px;
            font-size: 10px;
        }


