.Modal{
  
       
        
       background-color: rgba(255,255,255,0.6);
        position: fixed;
        bottom: 0;
        top: 50;
        left: 0;
        right: 0;
    
   
       
}

.modal-content{
    background-color: pink;
margin-top: 80vh;
  margin-left: 30vw;
  margin-right: 30vw;

    color:white;
    width: 60vw;
    height: 20vh;
    max-width: 600px;
  
    
    
    }


             
    .btn-modal{
      color: red;
      position: absolute;
    background-color: transparent;
     width: 1.5vw;
    }

  


    
    