.cupcakeContainer {
    padding-top: 100px;
    gap: 12vh 4vw;
    display: flex;
    flex-flow: row wrap;
    width: fit-content;
}

@media only screen and (max-width: 900px) {
    .products {
        width: 100vw;
        padding-left: 10%;
    }
    .cupcakeContainer {
        width: 100vw;
        height: auto;
        row-gap: 100px;
        flex-flow: column wrap;
        align-items: center;
    }
    .hide-filter {
        display: none;
    }
}