.card {
    position: relative;
    width: 250px;
    height: 380px;
    background: #ffffff;
    border-radius: 20px;
    overflow: hidden;
  }
    
  .card:hover {
    background-color: #FFE4E4;
    transform:translateY(20);
    transition: 1s;
  }

  .card small {
    text-decoration: underline;
  }
    
  .card .imgBox {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    z-index: 1;
  }

  .card .contentBox {
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
  }
  
  .card .contentBox h3 {
    font-size: 15px;
    color: rgb(0, 0, 0);
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  .card .contentBox .price {
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: 700;
    letter-spacing: 1px;
    padding-top: 10px;
  }
  
  .card .contentBox .buy {
    position: relative;
    top: 100px;
    opacity: 0;
    padding: 10px 30px;
    margin-top: 15px;
    color: #ffffff;
    text-decoration: none;
    background: #FF3073;
    border-radius: 10px;
    letter-spacing: 1px;
    transition: 0.5s;
    border-style: none;
    width: 100%;
    font-size: 14px;
  }

  .card:hover .contentBox .buy {
    top: 0;
    opacity: 1;
  }

  .card .contentBox .add-cart-icon {
    position: absolute;
    left: 10vw;
    bottom: 2vh; 
    color: #ffffff;
  }
  
  .product {
    height: 200px;
    width: auto;
  }