.card {
    position: relative;
    width: 230px;
    height: 340px;
    background: #ffffff;
    border-radius: 8px;
    overflow: visible;
  }
    
  .card:hover {
    background-color: #FFE4E4;
    transform:translateY(20);
    transition: 1s;
  }

  .card small {
    text-decoration: underline;
    text-align: center;
  }
    
  .card .imgBox {
    position: relative;
    bottom: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    z-index: 1;
  }

  .card .contentBox {
    position: relative;
    padding: 20px;
    bottom: 25%;
    display: flex;
    gap: 5px;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
    overflow: clip;
  }
  
  .card .contentBox h3 {
    margin: 0 -20px;
    font-size: 15px;
    color: rgb(0, 0, 0);
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center
  }
  
  .card .contentBox .price {
    font-size: 17px;
    color: rgb(0, 0, 0);
    letter-spacing: 1px;
    padding-top: 5px;
  }

  .card .contentBox .categories {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    color: white;
  }
  
    .card .contentBox #category-item {
      background-color: #F6A6C0;
      border-radius: 6px;
      padding: 5px 17px 5px 17px;
      text-align: center;
      font-size: 10px;
      
    }
  
  .card .contentBox .buy {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    top: 100px;
    opacity: 0;
    padding: 10px 35px;
    margin-top: 15px;
    color: #ffffff;
    text-decoration: none;
    background: #FF3073;
    border-radius: 10px;
    letter-spacing: 1px;
    transition: 0.5s;
    border-style: none;
    width: 100%;
    font-size: 14px;
    text-align: center;
  }

  .card:hover .contentBox .buy {
    top: 0;
    opacity: 1;
  }

  .card .contentBox .add-cart-icon {
    color: #ffffff;
  }
  
  .product {
    height: 200px;
    width: auto;
  }