.about h2 {
    font-size: 40pt;
}

#information-about-01
{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-left: 20%;
    padding-right: 20%;
    background: 50% no-repeat,
    linear-gradient(pink,white) bottom/80% 50% no-repeat;
    height:100%;
}


#information-about-01 div{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    border: 2px solid black;

}


#information-about-01 h2{
    color : palevioletred;
    margin-bottom: 10%;

}

#mission-div{
    margin-top: 8%;
}

#mission-div-2{
    margin-top: 5%;
}

@import url(mission.css);