.infoBanner {
    display: flex;
    position: absolute;
    flex-direction: row;
    column-gap: 20px;
    justify-content: center;
    width: 100%;
    background-color: #AA0000 ;
    height: 40px;
    color: white;
    margin-bottom: 0;
    text-decoration: underline;
    padding-top: 5px;
}
    .infoBanner h3 {
        margin-top: 2px;
    }
.marginTop {
    margin-top: 90px;
} 
